{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Bonjour ceci est la première page de notre site ! ahah ca marche pas trop marrant</h1>
        <p>Bonjour tout le monde</p>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
