{% extends 'base.html.twig' %}

{% block body %}
    <div>
        <h1>Bonjour ceci est la première page de notre site ! ahah ca marche pas</h1>
    </div>
{% endblock %}

{% block stylesheets %}

{% endblock %}
